In [ ]:
# Task 1

class Marks:
  def __init__(self, mark):
    self.mark = mark
  def __add__(self, other):
    return type(self) (self.mark + other.mark)

Q1 = Marks(int(input("Quiz 1 (out of 10): ")))
Q2 = Marks(int(input("Quiz 2 (out of 10): ")))
Lab = Marks(int(input("Lab (out of 30): ")))
Mid = Marks(int(input("Mid (out of 20): ")))
Final = Marks(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

Quiz 1 (out of 10): 10
Quiz 2 (out of 10): 10
Lab (out of 30): 30
Mid (out of 20): 20
Final (out of 30): 30
Total marks: 100

In [ ]:
# Task 2

class Teacher:
  def __init__(self, name, dept):
    self.__name = name
    self.__dept = dept
    self.__course_list = []
  
  def addCourse(self, course):
    self.__course_list.append(course.title)
  
  def printDetail(self):
    print("====================================")
    print(f"Name: {self.__name}")
    print(f"Department: {self.__dept}")
    print("List of Courses")
    print("====================================")
    for course in self.__course_list:
      print(course)
    print("====================================")

class Course:
  def __init__(self, title):
    self.title = title
  

t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")                          
c1 = Course("CSE 110 Programming Language I")                           
c2 = Course("CSE 111 Programming Language-II")                           
c3 = Course("CSE 220 Data Structures")                           
c4 = Course("CSE 221 Algorithms")                           
c5 = Course("CCSE 230 Discrete Mathematics")                           
c6 = Course("CSE 310 Object Oriented Programming")                           
c7 = Course("CSE 320 Data Communications")                          
c8 = Course("CSE 340 Computer Architecture") 
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

====================================
Name: Saad Abdullah
Department: CSE
List of Courses
====================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
====================================
====================================
Name: Mumit Khan
Department: CSE
List of Courses
====================================
CSE 220 Data Structures
CSE 221 Algorithms
CCSE 230 Discrete Mathematics
====================================
====================================
Name: Sadia Kazi
Department: CSE
List of Courses
====================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
====================================

In [ ]:
# Task 3

class Team:
  def __init__(self, name = None):
    self.__name = name
    self.__player_list = []
  
  def setName(self, name):
    self.__name = name

  def addPlayer(self, player):
    self.__player_list.append(player.name)

  def printDetail(self):
    print("=====================")
    print(f"Team: {self.__name}")
    print(f"List of Players:\n{self.__player_list}")
    print("=====================")
    
class Player:
  def __init__(self, name):
    self.name = name



b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

=====================
Team: Bangladesh
List of Players:
['Mashrafi', 'Tamim']
=====================
=====================
Team: Australia
List of Players:
['Ponting', 'Lee']
=====================

In [ ]:
# Task 4

class Color:
  def __init__(self, color):
    self.clr = color
    self.orange = {'red', 'yellow'}
    self.green = {'blue', 'yellow'}
    self.violet = {'red', 'blue'}

  def __add__(self, other):
    self.new = {self.clr, other.clr}
    if self.new == self.orange:
      return type(self)('Orange')
    elif self.new == self.green:
      return type(self)('Green')
    else:
      return type(self)('Violet')

C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)

First Color: red
Second Color: blue
Color formed: Violet

In [ ]:
# Task 5

import math

class Circle:
  def __init__(self, radius):
    self.setRadius(radius)
  
  def setRadius(self, radius):
    self.__radius = radius
  
  def getRadius(self):
    return self.__radius

  def area(self):
    return math.pi * self.__radius**2

  def __add__(self, other):
    return type(self)(self.__radius + other.__radius)

c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())
 
c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())
 
c3 = c1 + c2 
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

First circle radius: 4
First circle area: 50.26548245743669
Second circle radius: 5
Second circle area: 78.53981633974483
Third circle radius: 9
Third circle area: 254.46900494077323

In [ ]:
# Task 6

class Triangle:
  def __init__(self, base, height):
    self.setBase(base)
    self.setHeight(height)

  def setBase(self, base):
    self.__base = base
  
  def setHeight(self, height):
    self.__height = height

  def getBase(self):
    return self.__base
  
  def getHeight(self):
    return self.__height

  def area(self):
    return (0.5 * self.getBase() * self.getHeight())
    
  def __sub__(self, other):
    new_base = self.__base - other.__base
    new_height = self.__height - other.__height
    return type(self) (new_base, new_height)

t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())
 
t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())
 
t3 = t1 - t2 
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

In [ ]:
# Task 7

class Dolls:
  def __init__(self, name, price):
    self.name = name
    self.price = price
  
  def detail(self):
    return f"Doll: {self.name}\nTotal Price: {self.price} taka"

  def __add__(self, other):
    return type(self)(self.name+" "+other.name, self.price+other.price)

  def __gt__(self, other):
    if self.price > other.price:
      return True
    else:
      return False

obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_2 = Dolls("Daffy Duck", 1800) 
print(obj_2.detail())
if obj_2 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

Doll: Tweety
Total Price: 2500 taka
Thank you!
=========================
Doll: Daffy Duck
Total Price: 1800 taka
Thank you!
=========================
Doll: Bugs Bunny
Total Price: 3000 taka
Congratulations! You get the Tweety as a gift!
=========================
Doll: Porky Pig
Total Price: 1500 taka
Thank you!
=========================
Doll: Daffy Duck Bugs Bunny
Total Price: 4800 taka
Congratulations! You get the Tweety as a gift!

In [ ]:
# Task 8

class Coordinates:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def __sub__(self, other):
    return type(self)(self.x - other.x, self.y - other.y)

  def __mul__(self, other):
    return type(self)(self.x * other.x, self.y * other.y)

  def __eq__(self, other):
    if self.x == other.x and self.y == other.y:
      return "The calculated coordinates are the same."
    else:
      return "The calculated coordinates are NOT the same"

  def detail(self):
    return (self.x, self.y)
p1 = Coordinates(int(input()),int(input()))
p2 = Coordinates(int(input()),int(input()))

p4 = p1 - p2 
print(p4.detail())

p5 = p1 * p2
print(p5.detail())

point_check = (p4 == p5)
print(point_check)

0
0
0
0
(0, 0)
(0, 0)
The calculated coordinates are the same.